<div>
    <div class= "card-header" >
        <h1 >
        <label style="margin-right: 300px;" for="" class="form-label">Listado de personajes</label>
        <label style="margin-right: 50px;" for="" class="form-label">Listado de personajes</label><br>
        <input style="margin-right: 10px;  line-height:20px;" type="text" name="Buscar"class="form-control" id="Buscar" aria-describedby="helpId">
        <button style="margin-right: 350px;" type="button" class="btn btn-success">Nuevo</button>

 
        <input style="margin-right: 10px; line-height:20px;" type="text" name="Buscar"class="form-control" id="Buscar" aria-describedby="helpId">
        <button type="button" class="btn btn-success">Nuevo</button>
    </h1>
    </div>

    <br>
    <div>
     <img style="margin-right: 200px;" src="assets/imagen/hulk-mark-ruffalo.webp"  height="250px" width="300px">
     
   </div>

<div class="card" style="text-align: center;  line-height:20px;">

    <div class="card-header" style="font-size: 2em;">
             Nuevo Personaje
    </div><br>
    <div class="card-body">      
        <form >
                 <div  class="mb-3" style="text-align: center-left; ">
                     <label for="" class="form-label">Nombre:</label><br>
                     <input type="text" name=""class="form-control" id="" aria-describedby="helpId">
                 </div><br>
                 <div class="mb-3">
                    <label for="" class="form-label">Descripcion:</label><br>
                    <input type="text"class="form-control"  name=""aria-describedby="helpId">
                </div><br>
                <div class="mb-3">
                    <label for="imagen" class="form-label">Imagen:</label><br>
                    <input type="text" name="" class="form-control" aria-describedby="helpId">
                </div><br>
                <div class="btn-group" role="group" aria-label="">
                    <button style="margin-right: 10px; " type="submit" class="btn btn-success">Guardar</button>
                    <button type="submit" class="btn btn-primary">Cancelar</button>      
                </div>
        </form>
    </div> 
   
</div>
<br>
<div>
    <div>
     <img src="assets/imagen/IronMan.jpg"  height="350px" width="450px">
     <img src="assets/imagen/viudaNegra.jpg"  height="350px" width="450px">
    </div>
    
</div><br>